<div class="container">
  <div class="column">
    <input
      type="number"
      name="number"
      id="integer-input"
      [value]="inputValue"
      (input)="handleInput($event)"
    />
    <br />
    Valid input value: {{ inputValue }}
  </div>
  <div class="column">
    <select [(ngModel)]="selectedMode" (change)="handleSelect()">
      <option *ngFor="let mode of modeObjects" [ngValue]="mode">
        {{ mode.name }}
      </option>
    </select>
  </div>
  <div class="column">
    {{ output }}
  </div>
</div>
